@model Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/StoreAdmin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Detail</h2>

<h4>@Model.Name</h4>
<p>@Model.Price</p>
<a href="/Test/index">Geri</a>